.about{
    margin-top: var(--header-height);
    background-size: cover;
    background-position: center;
    background-image: url("../../img/bg/bg.png");
}
.about_back{
    background-color:var(--back-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}
.about_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    padding: 30px;
}
.about_title{
    font-size: 3rem;
    font-weight: bolder;
    color: var(--first-color);
}
.about_nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
    color: black;
}
.about_nav_item{
    font-size: 1.35rem;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
}
.about_nav_item:hover{
    font-size: 1.5rem;
    font-weight: bolder;
    color: red;
}
.about_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    padding: 0px 50px 50px;   
    background-color: #FFF0;
    width: 85%;
}
.about_article{
    line-height: 20px;
    font-size: 1rem;
}
.about_article h2{
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: chocolate;
    text-transform: uppercase;
}
.about_article p{
    text-align: justify;
}
.about_article p:not(:last-child){
    margin-bottom: 20px;
}
.about_article h3 {
    font-size: 1rem;
}
.about_list{
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}