.offers{
    margin-top: var(--header-height);
    background-size: cover;
    background-position: center;
    background-image: url("../../img/bg/bg.png");
    min-height: calc(100vh - var(--header-height));
}
.offers_back{
    background-color:var(--back-color);
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: flex-start;
    min-height: calc(100vh - var(--header-height));
    padding: 30px 70px;
}
.offers_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;    
    font-size: 3rem;
    font-weight: bolder;
    color: var(--first-color);
    text-transform: uppercase;    
}
.offers_body{
    display: block;
    padding: 35px 20px;   
    background-color: #FFF0;
    width: 100%;
    overflow-y: scroll;
}
.offers_body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}
.offers_body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}
.offers_body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}
.offers_table, .offers_th, .offers_td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;   
}
.offers_th{
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--first-color-lighten);
    color: white;
    cursor: pointer;
}
.offers_th div{
    display:flex;
    flex-direction:row;
    align-items:center;
}
.offers_th.active, .offers_th:hover{
    color: var(--third-color);
}
.offers_th:first-child, .offers_td:first-child, .offers_th:last-child, .offers_td:last-child{
    text-align: center;
}
.offers_th:nth-child(2), .offers_td:nth-child(2){
    width: 90%;
    min-width: 700px;
}
.offers_td{
    font-size: 1rem;
    font-weight: 400;
    background-color: whitesmoke;
}
.offers_link:hover{
    color: blue;
    font-size: 700;
    text-decoration: underline;
}
.offers_th .icon-arrow{
    display: inline-block;
    font-size: 1.75rem;   
    transition: transform 0.4s;
}
.offers_th.desc .icon-arrow{
    transform: rotate(180deg) translateY(-15%) ;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #999999;
    border-radius: 10px;
}
.offers_limit{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    padding: 2px 0px;
}
.offers_select {
    padding: 5px;
    font-size: 1rem;
    border: 2px red solid;
    border-radius: 10px;
}