@media screen and (max-width: 600px) {
    .error_img{
        width: 200px;
        height: 200px;
    }
    .error_text{
        font-size: 1.15rem;
    }
}
@media screen and (max-width: 375px) {
    .error_img{
        width: 180px;
        height: 180px;
    }
    .error_text{
        font-size: 1rem;
    }
}