@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

:root {
    --header-height: 3.5rem;

    --black-color: hsl(220, 24%, 12%);
    --black-color-light: hsl(220, 24%, 15%);
    --black-color-lighten: hsl(220, 20%, 18%);

    --first-color:#7D0A0A;
    --first-color-light:#BF3131;
    --first-color-lighten:#f02020;
    --second-color:#EAD196;
    --second-color-light:#F3EDC8;
    --third-color:#ffff00;

    --white-color: #fff;
    --body-color: hsl(220, 100%, 97%);

    --body-font: "Montserrat", sans-serif;

    --z-tooltip: 10;
    --z-fixed: 100;

    --font-regular: 400;
    --font-semi-bold: 700;

    --normal-font-size: .938rem;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} 
html {
    scroll-behavior: smooth;
} 
body {
    margin-top: var(--header-height);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
}
ul {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
h1, h2, h3, h4, h5{
    line-height: 1.5;
}
input, button{
    border: none;
    outline: none;
}
button{
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
}
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}
@media screen and (min-width: 1024px) {
    :root {
      --normal-font-size: 0.85rem;
    }
}