.statistics{
    margin-top: var(--header-height);
    background-size: cover;
    background-position: center;
    background-image: url("../../img/bg/bg.png");
    min-height: calc(100vh - var(--header-height));
}
.statistics_back{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - var(--header-height));
    background-color: var(--back-color);
}
.statistics_box{
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 1rem;
}
.statistics_header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bolder;
    color: var(--first-color-light);
    text-transform: uppercase;
}
.statistics_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    row-gap: 20px;
}
.statistics_chart{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
}
.statistics_chart a{
    display: none;
}

