.home{
    margin-top: var(--header-height);
}

.home_about {
    height: calc(100vh - var(--header-height));
    padding: 3rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-align: justify;
    background-color: white;
    line-height: 25px;
    row-gap: 25px;
    font-weight: 700;
}
.about_h_title{
    font-size: 2rem;
    color: red;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.home_about a:hover{
    color: blue;
    text-decoration: underline;
}

.home_signup{
    color: #fff;
    padding: 1.5rem 0 1.5rem;
    background-color: var(--first-color-light);    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home_signup h1{
    color: #fff;
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
}
.signup_form{
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.signup_box{
    height: 48px;
    justify-content: center;
    display: flex;
}
.signup_box i{
    display: flex;
    background: var(--black-color);
    font-size: 3.7rem;
    padding: 2rem 0;
    align-items: center;
    color: white;
}
.signup_input{
    width: 0px;
    transition: 0.6s;
    font-size: 1.5rem;
}
.signup_box:hover > .signup_input,.signup_input:focus{
    width: 500px;
    padding: 2rem;
}
.signup_btn{
    background: var(--black-color);
    color: white;
    padding: 2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}