.home{
    margin-top: var(--header-height);
}

.home_about {
    background-size: cover;
    background-position: center;
    background-image: url("../../img/bg/bg.png");
    min-height: calc(100vh - var(--header-height));
}

.about_h_back{
    width:100%;
    height: 100%;
    min-height: calc(100vh - var(--header-height));
    display: flex;
    padding: 3rem 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-align: justify;
    line-height: 25px;
    row-gap: 25px;
    font-weight: 700;
    background-color: rgba(255,255,255,0.8);
}

.about_h_title{
    font-size: 2rem;
    color: red;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.home_about a:hover{
    color: blue;
    text-decoration: underline;
}
