@media screen and (max-width: 1130px) {
    .application_back{
        padding: 30px 0px;
    } 
}
@media screen and (max-width: 990px) {
    .application_header{
        padding: 20px;
        width:100%;
    }
}
@media screen and (max-width: 860px) {
    .application_header{
        align-items: center;
        width:100%;
    }
    .application_header p{
        text-align: justify;
    }
    .application_title {
        font-size: 2rem;
    }
}
@media screen and (max-width: 773px) {
    .application_body {
        padding: 0;
    }
    .application_box {
        padding: 10px 0;
    }
    .application_input{
        width:inherit;
    }
    .applcation_footer{
        width: inherit;
    }
}
@media screen and (max-width: 598px) {
    .application_header{
        padding: 10px 5px;
    }
    .application_header p{
        text-align: center;
    }    
    .application_title {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 512px) {
    .application_input{
        padding: 5px;
    }
    .application button{
        padding: 10px;
        font-size: 0.8rem;
    }
    .application_label {
        min-width: 150px;
        font-size: 1rem;
    }
    .application_box small{
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 432px) {
    .application_title {
        font-size: 1rem;
    }
    .application_header p {
        font-size: 0.75rem;
    }
    .application_label {
        min-width: 120px;
        font-size: 0.75rem;
    }
    .application_box small{
        font-size: 0.7rem;
    }
}